.html{
    font-size: 16px;
}
.header{
    display: flex;
}
.main-container{
    display: flex;

}
.side{
    width: 50%
}
.middlesection{
    margin-left: 50px;
}
.inputbody{
    border: none;
    border-bottom: 1px solid black;
}
.password{
    padding-left: 50px;
    font-size: 0.8rem;
}